@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;

  --color-aura-black: #1a1a1a;
  --color-aura-gold: #d4af37;
  --color-aura-cream: #f9f8f4;
  --color-aura-stone: #e6e2dd;
}

body {
  background-color: #f9f8f4;
  color: #1a1a1a;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f9f8f4;
}
::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b5952f;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
